@import 'tailwindcss';

@theme {
  --font-sans:
    'Poppins', 'Inter', 'Segoe UI', system-ui, -apple-system, 'PingFang TC', 'Microsoft JhengHei',
    'Noto Sans TC', 'BlinkMacSystemFont', sans-serif;

  --color-pink-50: #fff9f9;
  --color-pink-100: #ffecf0;
  --color-pink-200: #ffd6e0;
  --color-pink-300: #fec4d1;
  --color-pink-400: #feb7c8;
  --color-pink-500: #ff9db4;
  --color-pink-600: #f77e9d;
  --color-pink-700: #e95c85;
  --color-pink-800: #e03d72;
  --color-pink-900: #d61f60;

  --color-yellow-100: #feeec7;
  --color-yellow-200: #ffe8b3;
  --color-yellow-300: #ffda8b;
  --color-yellow-400: #ffcb52;

  --color-gray-25: #fafafa;
  --color-gray-50: #f5f5f5;
  --color-gray-100: #f2f2f2;
  --color-gray-300: #cccccc;
  --color-gray-400: #999999;
  --color-gray-600: #666666;
  --color-gray-800: #333333;
  --color-gray-900: #262626;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: var(--font-sans);
  line-height: 1.6;
  font-weight: 400;
  color: var(--color-gray-900);
}

h1 {
  @apply text-[clamp(2rem,3vw,2.75rem)] font-semibold;
}

a,
button {
  cursor: pointer;
}

input {
  outline: none;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@utility code-scrollbar {
  scrollbar-color: #5c6370 #1f2329;
}
